<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div>
  <div style="padding:5px">
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="Home">Home</a>
      </li>
      <li routerLinkActive="active" *ngIf="!sharedDataService.loggedInUser">
        <a routerLink="login">Login</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="registration">Loan Application</a>
      </li>
      <li routerLinkActive="active">
          <a routerLink="prospectlist">Prospect List</a>
      </li>
      <li routerLinkActive="active" *ngIf="sharedDataService.loggedInUser">
        <a routerLink="logout">Logout</a>
      </li>
      

    </ul>
    <br>
    <router-outlet></router-outlet>
  </div>
</div>


