<html>
  <table>
    <thead>
      <tr>
          <th>Prospect ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Loan Type</th>
          <th>Application Status</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let p of prospectlist">
            <th><a >{{p.prospectId}}</a></th>
            <th>{{p.firstName}}</th>
            <th>{{p.lastName}}</th>
            <th>{{p.loanType}}</th>
            <th>{{p.applicationStatus}}</th>
        </tr>
    </tbody>
  </table>  

</html>
